.app{
  background: #156e7e;
  height: 100vh;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.tweet{
  height: 300px;
  width:300px;
  border-radius: 10px;
  background: #fff;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.btn{
  padding:14px 22px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #fff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover{
  background: #156e7e;
  color: #fff;
  border: 1px solid #fff;
}
.red{
  color: rgb(122, 34, 34);
}